@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="home-container">
    <h1>Bienvenido a SIRECAS</h1>
    <p class="lead">Gestión de registros de arte sacro e infraestructura histórica.</p>

    <a class="login-button" asp-controller="Login" asp-action="Login">
        Iniciar sesión
    </a>
</div>

@{
    var idUsuario = Context.Session.GetInt32("IdUsuario");
}

@if (idUsuario != null)
{
    <script>
        window.location.href = '@Url.Action("Inicio", "Home")';
    </script>
}
