@model SIRECAS.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<h2 class="mb-4">Iniciar sesión</h2>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Contraseña" class="form-label"></label>
        <input asp-for="Contraseña" class="form-control" />
        <span asp-validation-for="Contraseña" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

