<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet"
					arguments=".\SIRECAS.dll"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />

		<!-- Aumentar límite de subida de archivos (1 GB) -->
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true">
					<add fileExtension=".blend" allowed="true" />
				</fileExtensions>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<staticContent>
			<mimeMap fileExtension=".blend" mimeType="application/octet-stream" />
		</staticContent>

	</system.webServer>
</configuration>
